#login {
    position: fixed; top: 50%; left: 50%;
    margin-left: -120px;
    margin-top: -250px;
    z-index: 100;
}

#login input {
    width: 150px;
    height: 25px;
    font-size: 14px;
    color: #8A909A;
    background-color: #EEEEEE;
    padding-left: 110px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    outline: none;
}
#login_id input{
    border-bottom: 2px solid #EEEEEE;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
   -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomleft: 7px; 
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  
}

#login button {
  position: fixed; top: 50%; left: 50%;
    margin-left: -90px;
    margin-top: -200px;
    z-index: 100; 
    width: 200px;
    height: 40px;
    font-size: 14px;
    background-color: #34495E;
    color: #EFEFEF;
    border: solid #FFFFFF 1px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    
}

#login button:hover {
    background-color: #3F556E;
    cursor: pointer;
}
body {
    background-color: #7E8A98;
}

#mid_rectangle {
    width: 250px;
    height: 500px;
    position: fixed; left: 75%; top: 50%;
    margin-top: -350px;
    margin-left: -360px;
    background: #34495E;
   -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
  
   
}

#left_top_rectangle {
    width: 260px;
    height: 470px;
    position: fixed; left: 20%; top: 20%;
    margin-top: -100px;
    margin-left: -150px;
    background: #FFFFFF;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

#left_bottom_rectangle {
    width: 400px;
    height: 90px;
    position: fixed; left: 20%; top: 100%;
    margin-top: -130px;
    margin-left: -250px;
    background: #FFFFFF;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

#right_top_rectangle {
    width: 260px;
    height: 450px;
    position: fixed; left: 83%; top: 20%;
    margin-top: -100px;
    margin-left: -130px;
    background: #FFFFFF;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

#small_bottom_rect2 {
    width: 50px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -70px;
    margin-left: -500px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
#small_bottom_rect1 {
    width: 70px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -130px;
    margin-left: -500px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
#small_bottom_rect2 {
    width: 70px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -70px;
    margin-left: -500px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
#small_bottom_rect3 {
    width: 70px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -130px;
    margin-left: -370px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
#small_bottom_rect4 {
    width: 70px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -70px;
    margin-left: -370px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}
#small_bottom_rect5 {
    width: 70px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -70px;
    margin-left: -250px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}
#small_bottom_rect6 {
    width: 70px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -70px;
    margin-left: -130px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}
#small_bottom_rect7 {
    width: 70px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -140px;
    margin-left: -130px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}
#small_bottom_rect8 {
    width: 70px;
    height: 50px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -140px;
    margin-left: -250px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}
#small_bottom_rect9 {
    width: 60px;
    height: 30px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -100px;
    margin-left: -50px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}
#small_bottom_rect10 {
    width: 60px;
    height: 30px;
    position: fixed; left: 90%; top: 100%;
    margin-top: -100px;
    margin-left: 15px;
    background: #34495E;
    -webkit-filter: blur(15px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}
body {
    font-family: "lucida grande", tahome, verdana, arial, sans-serif;
    margin: 0;
    padding: 0;
}
